* {
    font-family: "Cutive Mono", monospace;
    margin: 0;
}

html {
    height: 100%;
    background: #fdefe2;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: center;
}

main .content-wrap {
    max-width: min(89%, 40rem);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    /* todo shrink content if page is too narrow on y-axis */
}

main .content-wrap img {
    max-width: 100%;
    border: 1px #3e2e21 solid;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

footer {
    display:flex;
    justify-content: center;
    margin-bottom: 1rem;
}

footer .nav-btns {
    width: min(90vw, 75rem);
    /* border-style: solid; */
    display: flex;
    justify-content: space-between;
}

footer .rect-btn {
    overflow-wrap: normal;
    font-size: 1.3rem;
}

@media only screen 
and (max-width : 71rem) {
    footer .rect-btn {
        font-size: 1.2rem;
    }
}

@media only screen 
and (max-width : 66rem) {
    footer .rect-btn {
        font-size: 1.15rem;
    }
}

@media only screen 
and (max-width : 64rem) {
    footer .nav-btns {
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 30rem;
    }
}

@media only screen 
and (max-width : 22rem) {
    footer .rect-btn {
        font-size: 1rem;
    }
}

@media only screen 
and (max-width : 19rem) {
    footer .rect-btn {
        font-size: 0.9rem;
    }
}