textarea {
    border-collapse:collapse;
    border: #000 2px solid;
    border-style: dashed;
    resize: none;
    /*margin: 0;*/
    padding: 10px;
    font-size: 22px; 

    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
another way to centerize:

<style>
    div.justified {
        display: flex;
        justify-content: center;
    }
</style>

<div class="justified">
    <textarea>Textarea</textarea>
</div>

https://www.pornhub.com/view_video.php?viewkey=ph5c92916b762bd
https://www.pornhub.com/view_video.php?viewkey=ph5cfa246851a36
*/

#main-input + #output-area { margin-top: 10px; }

#header {
    width: 100%;
    height: 190px;
}